.hotel__card {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0;
}

.container {
    position: relative;
    max-width: 414px;
    outline: 1px solid blue;
    padding: 0 15px;
    margin: 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}


.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row {
    flex-direction: row;
}

.wrapper {
    border: 1px solid red;
    max-width: 67%;
}


.wrapper__bedroom {
    outline: 1px solid green;
    align-self: flex-end;
    max-width: 67%;
}

.wrapper__holl {
    outline: 1px solid green;
}

