body {
    margin: 0;
}

.container {
    position: relative;
    max-width: 414px;
    outline: 1px solid blue;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        outline: 1px solid red;

    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.outline {
    outline: 1px solid red;
}

.section{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper__about-hotel {
    display: flex;
    flex-direction: column;
}

.wrapper__bedroom {
    outline: 1px solid green;
    align-self: flex-end;
    max-width: 67%;
}

.wrapper__hall {
    display: flex;
}

.wrapper__hall-text {
    outline: 1px solid green;
    margin: auto 0;
    display: flex;
}

